
body {
    font-size: 1rem;
    font-family: arial, sans-serif;
    background-color: #e6e6dc;
    color:#575454;
    margin: 0 auto;
}

body.light-theme {
    background-color: #fff;
    color: #999;
}
body.dark-theme {
    background-color: #333;
    color: #fff;
}


.bigBody {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 800px;
    justify-content: center;
    margin: 20px auto 0 auto;
    align-items: flex-start;
    position: relative;
    padding: 0;
}

.heroSection {
    background-size: cover;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    z-index: 5;
    width: 400px;
    margin: 216px -90px 0 0;
    font-family: 'Lora', serif;
}

.resume {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    min-width: 360px;
    text-align: left;
}

.resume-content {
    width: 320px;
    margin: 0 auto;
    background: #ffffff;
    padding: 40px 40px 40px 100px;
    position: relative;
    z-index: 1;
    color: #424242;
    max-height: 87vh;
    overflow: hidden;
}



h1 {
    color: #000;
    font-size: 32px;
}

h2 {
    color: #fff;
    font-size: 36px;
}
.resume-content h1, .resume-content h2 {color: #000000;font-size: 60px;}
.resume-content h1 {
    font-family: 'Poppins', sans-serif;

}
li {
    font-family: 'Montserrat', sans-serif;
    list-style-type: square;
}
.resume-content p {
    line-height: 1.8;
    font-family: 'Montserrat', sans-serif;
    color: #424242;
    font-size: 16px;
    font-weight: 600;
    word-break: break-word;
}

.videoOverlay {
    text-align: left;
    margin: 0 auto;
    border-radius: 0;
    position: relative;
    background: #f4ece6;
    padding: 40px;
    font-family: 'Lora', serif;
}

video {
    position: absolute;
    object-fit: cover;
    overflow: visible;
    z-index: 0;
    top: 0;
    left: 0;
}

.contentSafe {max-height: 70vh;overflow: scroll;}
footer {
    height: 130px;
    text-align: center;
    background: #585858 url(../static/img/placeholder.png) center bottom no-repeat;
    background-size:130px;
    padding: 40px;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0 0 0;
   
}
.contentSafe h2 {
    font-size: 25px;
    font-family: 'Lora', serif;
}

.contentSafe 
    a {
    color: #725640;
    text-decoration: none;
    border-bottom: 3px solid #f4ece6;
}

.softer {
    height: 260px;
    display: block;
    position: absolute;
    width: 320px;
    background: linear-gradient(0deg, white, transparent);
    bottom: 0;
    z-index: 1;
    top: 66vh;
}

footer a {
    color: #fff;
    text-decoration: none;
}