<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Resume</title>
        <link rel="stylesheet" type="text/css" href="../static/style_web.css">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="../static/img/ico.png">

    <meta name="description" itemprop="description" content="Whip up a charming, compact resume in just a few seconds - it's super quick and easy!">
    <meta name="keywords" content="cv, resume, work, experience, portfolio, connect, job, hiring">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@angelcreative">
    <meta name="twitter:creator" content="@angelcreative">
    <meta name="twitter:title" content="TinyCV - The Smallest CV You'll Ever Need">
    <meta name="twitter:description" content="Whip up a charming, compact resume in just a few seconds - it's super quick and easy!.">
    <meta name="twitter:image" content="https://www.tinycv.onrender.com/static/img/promo.png">
    <meta property="og:url" content="https://www.tinycv.onrender.com/">
    <meta property="og:type" content="website">
    <meta property="og:description" content="Whip up a charming, compact resume in just a few seconds - it's super quick and easy!">
    <meta property="og:image" content="https://www.tinycv.onrender.com/static/img/promo.png">
    <meta property="og:image:alt" content="Whip up a charming, compact resume in just a few seconds - it's super quick and easy!">
    <meta property="og:locale" content="en_IE">
    <meta property="og:title" content="TinycCV | The Smallest CV You'll Ever Need">
    <meta property="og:site_name" content="tinycv">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <link rel="canonical" href="https://www.tinycv.onrender.com">
    <meta name="robots" content="index,follow">
    <meta name="googlebot" content="index,follow">
    <!-- Your head content here (e.g., title, meta, CSS links) -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body class="light-theme">
    <header class="heroSection">
   <video autoplay muted loop id="myVideo" style="width:100%; height: auto;">
            <source src="{{ background_video }}" type="video/mp4">
            Your browser does not support HTML5 video.
        </video>
        <div class="videoOverlay">
            <!-- Hero section content -->
            <h1>My Personal Website</h1>
            <h2>{{ name }}</h2>
        </div>
    </header>
    <main class="resume-content">
    {{ content | safe }}
</main>
    <!-- Remaining HTML content -->
    <footer>
       <p> Build with ♥️ by <a href="https://tinycv.onrender.com" target="_blank">TinyCV</a></p>
    </footer>
</body>
</html>
