<!DOCTYPE html>
<html lang="en">

<head>
    <title>TinycCV | Create a lovely resume in a snap, it's fast and friendly!</title>

<meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="../static/img/ico.png">

    <meta name="description" itemprop="description" content="Whip up a charming, compact resume in just a few seconds - it's super quick and easy!">
    <meta name="keywords" content="cv, resume, work, experience, portfolio, connect, job, hiring">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@angelcreative">
    <meta name="twitter:creator" content="@angelcreative">
    <meta name="twitter:title" content="TinyCV - The Smallest CV You'll Ever Need">
    <meta name="twitter:description" content="Whip up a charming, compact resume in just a few seconds - it's super quick and easy!.">
    <meta name="twitter:image" content="https://www.tinycv.onrender.com/static/img/promo.png">
    <meta property="og:url" content="https://www.tinycv.onrender.com/">
    <meta property="og:type" content="website">
    <meta property="og:description" content="Whip up a charming, compact resume in just a few seconds - it's super quick and easy!">
    <meta property="og:image" content="https://www.tinycv.onrender.com/static/img/promo.png">
    <meta property="og:image:alt" content="Whip up a charming, compact resume in just a few seconds - it's super quick and easy!">
    <meta property="og:locale" content="en_IE">
    <meta property="og:title" content="TinycCV | The Smallest CV You'll Ever Need">
    <meta property="og:site_name" content="tinycv">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <link rel="canonical" href="https://www.tinycv.onrender.com">
    <meta name="robots" content="index,follow">
    <meta name="googlebot" content="index,follow">
    <!-- Your head content here (e.g., title, meta, CSS links) -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
</head>

<body>
    <a style="position: absolute;
    top: 20px;
    right: 10px;
    zoom: .7;" href="https://www.producthunt.com/posts/tinycv-2?utm_source=badge-featured&amp;utm_medium=badge&amp;utm_souce=badge-tinycv-2" target="_blank"><img src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=435846&amp;theme=neutral" alt="TinyCV - Create a lovely resume in a snap powered by Ai ✨ | Product Hunt" style="width: 250px; height: 54px;" width="250" height="54"></a>
    <div class="headerApp">
        <h1 class="header">Hello!<span class="wave">👋🏼 </span><br><span>Create a lovely resume in a snap powered by Ai, it's fast and friendly</span></h1>



        <div class="headerArrow"></div>
    </div>

    <article class="renderCV">
        <section class="renderCVLeft">



            <form id="uploadForm" enctype="multipart/form-data">
                <input type="file" name="file" id="file" disabled="" style="visibility: hidden; height:1px;" >
                <div id="uploadButton" class="upload-btn disabled" disabled="" >Upload your resume <span class="arrowUp"><i class="fa fa-arrow-up" aria-hidden="true"></i>
</span></div>
                <p id="fileLoadedMessage" style="display:none;"></p>
                <button type="submit" id="submitCVButton" disabled="" style="display:none;">Make my TinyCV! ✨</button>
                <button id="buyNowButton">Make my TinyCV!</button>
               
            </form>

                <button id="generateWebsiteBtn" style="background: none;
    color: #7e9bff;
    border: 1px solid #7e9bff;">Make my TinyWeb</button>

 <p class="motto">Perfectly crafted for sharing on social media platforms, it's the ideal way to showcase your professional profile with ease and style.</p>
                <div class="logos">
                    <img src="../static/img/linkedin.svg"><img src="../static/img/xing.svg"><img src="../static/img/x.svg">
                </div>


        </section>

        <section class="renderCVright">
            <p class="warntime">Quick for short resumes, a bit more time for the longer ones - we adapt to your CV's length!</p>
            <div id="summaryCard" style="display:none;">

<div class="tinder">
  <div class="tinder--cards">
    <!-- Dynamically insert cards here using your AJAX success function -->
  </div>
  
  <div class="tinder--buttons">
    <button id="nope"><i class="fa fa-remove"></i></button>
    <button id="love"><i class="fa fa-heart"></i></button>
  </div>
</div>


            </div>
            <div id="loader" style="display: none;">
              
                   <div class="marquee">
    <div class="marquee-content">
                    <span>Building your cv...</span>
                
                    </div>
</div>
                    
                <img class="loader" src="../static/img/loader.svg" alt="Loading..."></div>

            <div class="buttonAction">
                <button id="copyButton" style="display:none;"><img src="../static/img/copy.svg" class="clearIcon"></button>
<button id="clearSummaryButton" style="display:none;"><img class="clearIcon" src="../static/img/broom.svg"></button>
                

            </div>





        </section>
    </article>

    <!--<p class="credits"> By <a href="https://x.com/angelcreative">@angelcreative</a>
    </p>-->

    <div class="slider">
        <div class="slide-track">
            <div class="slide">
                <aside class="showCard">
                    <p>Hello! 👋🏼 I'm a freelance graphic designer and community manager with 2+ years of experience. Currently working at Artodontic as a graphic designer &amp; community manager. Proficient in Adobe After Effects and Procreate. Fluent
                        in Spanish &amp; English. #tinycv #resume #opentowork</p>
                </aside>
            </div>
            <div class="slide">
                <aside class="showCard">
                    <p>Hello 👋🏼 I'm a UX/UI designer in Madrid, specializing in design systems. Experienced in product design, graphic design, event planning. Fluent in Catalan, Spanish, English. Certified in Digital Marketing, Wedding Planning, Community
                        Management. Published on Behance &amp; Homify. #tinycv #resume #opentowork"</p>
                </aside>
            </div>
            <div class="slide">
                <aside class="showCard">
                    <p>Hello 👋🏼 I'm an experienced SaaS/Cloud/Tech sales professional seeking Business Development, Sales Account Management, or Customer Success roles. 3 yrs at Wiser Elite as Associate Director and Team Lead. Skilled in team leadership,
                        sales development, and account management. Fluent in English. #tinycv #resume #opentowork</p>
                </aside>
            </div>
            <div class="slide">
                <aside class="showCard">
                    <p>Hello! 👋🏼 I lead teams, prioritize user needs, and optimize experiences. Expertise in product design, designOps, and datadriven decision making. Skilled in HTML/CSS, JavaScript, Figma, and more. Let's collaborate! #tinycv #resume
                        #opentowork</p>
                </aside>
            </div>
            <div class="slide">
                <aside class="showCard">
                    <p>Hello! 👋🏼 I changing the way people view work through employer branding and recruitment. Worked with Nike, Tesla, Just Eat, Kraft Heinz, Fidelity, and Deutsche Bank. Team Lead for Sales Development. Skills: Mentorship, Ingenuity,
                        Employer Branding. Fluent in English. #tinycv #resume #opentowork</p>
                </aside>
            </div>
            <div class="slide">
                <aside class="showCard">
                    <p>Hello! 👋🏼 I'm a pediatrician passionate about child health and development. Experienced in working with children's hospitals and clinics. Regular contributor to child health forums and workshops. Fluent in English and Spanish. #tinycv
                        #resume #opentowork</p>
                </aside>
            </div>
            <div class="slide">
                <aside class="showCard">
                    <p>Hello! 👋🏼 I'm a corporate lawyer with a focus on tech startups. Worked with clients in Silicon Valley including early-stage startups and established firms. Expertise in intellectual property, contract law, and corporate finance.
                        Fluent in English and Mandarin. #tinycv #resume #opentowork</p>
                </aside>
            </div>
            <div class="slide">
                <aside class="showCard">
                    <p>Hello! 👋🏼 I'm a civil engineer specializing in sustainable urban development. Projects include smart city initiatives with Siemens and green building designs. Advocate for eco-friendly solutions in urban planning. Fluent in German
                        and English. #tinycv #resume #opentowork</p>
                </aside>
            </div>
            <div class="slide">
                <aside class="showCard">
                    <p>Hello! 👋🏼 I'm an electrical engineer with a focus on renewable energy systems. Collaborated with Tesla on innovative energy solutions. Passionate about sustainable technology and reducing carbon footprints. Fluent in English and
                        Spanish. #tinycv #resume #opentowork</p>
                </aside>
            </div>
            <div class="slide">
                <aside class="showCard">
                    <p>Hello! 👋🏼 I'm an experienced teacher specializing in STEM education. Developed interactive learning programs used in schools nationwide. Collaborated with educational tech companies to enhance learning experiences. Fluent in English
                        and French. #tinycv #resume #opentowork</p>
                </aside>
            </div>
            <div class="slide">
                <aside class="showCard">
                    <p>Hello! 👋🏼 I'm a product manager with a track record in developing successful mobile apps. Worked with teams at Spotify and Uber to create user-centric, engaging app experiences. Skilled in Agile methodologies and cross-functional
                        team leadership. Fluent in English and Portuguese. #tinycv #resume #opentowork</p>
                </aside>
            </div>
            <div class="slide">
                <aside class="showCard">
                    <p>Hello! 👋🏼 I'm a software engineer specializing in AI and machine learning. Developed cutting-edge algorithms at Google and contributed to open-source projects. Skilled in Python, TensorFlow, and cloud computing. Fluent in English
                        and Japanese. #tinycv #resume #opentowork</p>
                </aside>
            </div>
            <div class="slide">
                <aside class="showCard">
                    <p>Hello! 👋🏼 I'm an industrial designer with a passion for creating sustainable products. Collaborated with IKEA on eco-friendly furniture lines. Expertise in product lifecycle and material innovation. Fluent in Swedish and English.
                        #tinycv #resume #opentowork</p>
                </aside>
            </div>
            <div class="slide">
                <aside class="showCard">
                    <p>Hello! 👋🏼 I'm a mechanical engineer with experience in the automotive industry. Worked on electric vehicle projects with Tesla and BMW. Proficient in CAD software and mechanical simulation. Fluent in German and English. #tinycv #resume
                        #opentowork</p>
                </aside>
            </div>
            <div class="slide">
                <aside class="showCard">
                    <p>Hello! 👋🏼 I'm an aerospace engineer focused on spacecraft design. Contributed to satellite projects at SpaceX and NASA. Skilled in aerodynamics, propulsion systems, and space mission planning. Fluent in English and Russian. #tinycv
                        #resume #opentowork</p>
                </aside>
            </div>
            <div class="slide">
                <aside class="showCard">
                    <p>Hello! 👋🏼 I'm a graphic designer specializing in branding and visual identity. Worked with clients like Adobe and Canva to enhance their brand presence. Expert in Photoshop, Illustrator, and InDesign. Fluent in English and Spanish.
                        #tinycv #resume #opentowork</p>
                </aside>
            </div>
            <div class="slide">
                <aside class="showCard">
                    <p>Hello! 👋🏼 I'm a UI/UX designer with a knack for creating intuitive digital experiences. Collaborated with Airbnb and Uber to redesign their mobile apps. Proficient in Sketch, Figma, and user testing. Fluent in English and Mandarin.
                        #tinycv #resume #opentowork</p>
                </aside>
            </div>


        </div>
    </div>
<div id="imageUploadDialog" style="display: none">
<button id="closeDialogButton" class="close-btn"><i class="fa fa-times-circle" aria-hidden="true"></i>
</button>
  <div class="image-upload">
    <h4>Personalize your Ai website</h4>
    <div class="fakeInput"> <i class="fa fa-pencil" aria-hidden="true"></i>
<input type="text" id="nameCV" placeholder="Enter your name">
</div>
    <input type="file" name="imageFile" id="imageFile" style="visibility: hidden; height:1px;">
    <button id="imageUploadButton" class="upload-btn"><i class="fa fa-camera" aria-hidden="true"></i>Upload your headshot
</button>
    <span class="confirmation">Wait for image upload confirmation message before launch.</span>
    <span id="uploadConfirmation" class="confirmation" style="display: none;">Image uploaded successfully!</span>
    <button id="launchWebSite" class="skip-btn">
Launch Ai website ✨</button>
</div>

  <div id="avatar" class="avatar" style="display: none;"></div>
</div>

   <script src="https://hammerjs.github.io/dist/hammer.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
 <script>
    $(document).ready(function() {
        function initCards() {
            var allCards = $('.tinder--card');
            allCards.each(function(index, card) {
                $(card).css({
                    'z-index': allCards.length - index,
                    'transform': 'scale(' + (100 - index * 10) / 100 + ')'
                });

                // Hide the 'nope' icon if it's the only card left
                $(card).find('.fa-remove').css('display', allCards.length > 1 ? 'block' : 'none');
            });

            // Bind click events to love and nope icons in each card
            allCards.find('.fa-heart, .fa-remove').off('click').on('click', function(event) {
                var isLove = $(this).hasClass('fa-heart');
                var card = $(this).closest('.tinder--card');
                handleCardAction(card, isLove);
            });
        }

        function handleCardAction(card, isLove) {
            if (isLove) {
                var textToCopy = card.find('p').text();
                var tempElement = $("<textarea>");
                $("body").append(tempElement);
                tempElement.val(textToCopy).select();
                document.execCommand("copy");
                tempElement.remove();
                alert('📎 Summary copied to clipboard!');
            } else {
                card.addClass('removed').css('transform', 'translate(-1000px, -100px) rotate(-30deg)');
                $('.tinder--cards').append(card); // Move the card to the end of the deck
            }
            initCards(); // Re-initialize the cards
        }

        var urlParams = new URLSearchParams(window.location.search);
        var paymentSuccess = urlParams.get('payment_success');

        if (paymentSuccess) {
            $('#file').prop('disabled', false);
            $('#uploadButton').removeClass('disabled').css('cursor', 'pointer');
            $('#submitCVButton').show().prop('disabled', false);
            $('#buyNowButton').hide();
        } else {
            $('#file').prop('disabled', true);
            $('#uploadButton').addClass('disabled');
            $('#submitCVButton').hide().prop('disabled', true);
            $('#buyNowButton').show().click(function() {
                window.location.href = 'https://buy.stripe.com/eVacN18eE9At7jG145';
            });
        }

       $('#uploadForm').submit(function(e) {
    e.preventDefault();
    var formData = new FormData(this);
    $('#loader').show();

    $.ajax({
        url: '/upload',
        type: 'POST',
        data: formData,
        contentType: false,
        processData: false,
        success: function(response) {
            $('#loader').hide();
            var tinderCards = $('.tinder--cards');
            tinderCards.empty();

            $.each(response.html_summaries, function(index, html_summary) {
                var cardElement = $('<div>').addClass('tinder--card');
                var summaryElement = $('<p>').html(html_summary);
                var loveIcon = $('<i>').addClass('fa fa-heart');
                var nopeIcon = $('<i>').addClass('fa fa-remove');
                cardElement.append(loveIcon, nopeIcon, summaryElement);
                tinderCards.append(cardElement);
            });

            initCards();
            $('#summaryCard').show();
        },
        error: function() {
            $('#loader').hide();
            alert('💔 Error processing file.');
        }
    });
});



        $('#uploadButton').click(function() {
            $('#file').click();
        });

        $('#file').change(function() {
            if (this.files && this.files.length > 0) {
                $('#fileLoadedMessage').text(this.files[0].name + ' loaded').show();
            }
        });

        $('#copyButton').click(function() {
            var textToCopy = $('#summaryCard').text();
            var tempElement = $("<textarea>");
            $("body").append(tempElement);
            tempElement.val(textToCopy).select();
            document.execCommand("copy");
            tempElement.remove();
            alert('Summary copied to clipboard!');
        });

        $('#clearSummaryButton').click(function() {
            $('#summaryCard').empty().hide();
            $('#copyButton').hide();
            $(this).hide();
        });
    });
     


document.getElementById("generateWebsiteBtn").addEventListener("click", function() 
{
    // Reset and show the image upload dialog
    uploadedImageUrl = '';
    $('#uploadConfirmation').hide();
    $('#imageUploadDialog').show();
});

document.getElementById('closeDialogButton').addEventListener('click', function() {
    // Hide the dialog
    $('#imageUploadDialog').hide();
});

let uploadedImageUrl = ''; // Temporary variable to store the image URL

document.getElementById('imageUploadButton').addEventListener('click', function() {
    $('#imageFile').click(); // Trigger file input
});

document.getElementById('imageFile').addEventListener('change', function(event) {
    // Handle file change and upload
    const userImage = event.target.files[0];
    if (userImage) {
        const formData = new FormData();
        formData.append('image', userImage);
        formData.append('key', 'ba238be3f3764905b1bba03fc7a22e28'); // API key

        fetch("https://api.imgbb.com/1/upload", {
            method: 'POST',
            body: formData
        })
        .then(response => response.json())
        .then(result => {
            if (result.data && result.data.url) {
                uploadedImageUrl = result.data.url;
                 document.getElementById('uploadConfirmation').style.display = 'block';

            }
        })
        .catch(error => console.error('Error:', error));
    }
});


    
document.getElementById('launchWebSite').addEventListener('click', function() {
    // Fetch the value from the nameCV input field
    var nameCVValue = document.getElementById('nameCV').value;

    // Generate website with the uploaded image and name
    generateWebsite(uploadedImageUrl, nameCVValue);
    $('#imageUploadDialog').hide();
});

     
 
function generateWebsite(avatarUrl = '', nameCV = '') {
    
    var formData = new FormData();
    formData.append('nameCV', nameCV); // Add the name
    formData.append('resume_file', $('#file')[0].files[0]);
    if (avatarUrl) {
        formData.append('avatar_url', avatarUrl); // Add the avatar URL if available
    }

    

    $('#loader').show(); // Show the loader

    $.ajax({
        url: '/generate_website',
        type: 'POST',
        data: formData,
        contentType: false,
        processData: false,
        success: function(response) {
            $('#loader').hide(); // Hide the loader when new window opens
            window.open(response.url, '_blank'); // Open the generated website URL in a new tab
        },
        error: function() {
            $('#loader').hide(); // Also hide the loader in case of an error
            alert('Error in generating website.');
        }
    });
}

     
     
     document.addEventListener('DOMContentLoaded', function() {
    const toggleButton = document.getElementById('theme-toggle');

    toggleButton.addEventListener('click', function() {
        const body = document.body;
        const resumeContent = document.querySelector('.resume-content');
        const h1Elements = document.querySelectorAll('h1');
        const pElements = document.querySelectorAll('.resume-content p');
        const videoOverlay = document.querySelector('.videoOverlay');
        const softerElements = document.querySelectorAll('.softer');

        // Toggle body theme
        body.classList.toggle('dark-theme');

        // Toggle resume content theme
        if (resumeContent) {
            resumeContent.classList.toggle('dark-background');
            resumeContent.classList.toggle('dark-color');
        }

        // Toggle h1 color
        h1Elements.forEach(function(h1) {
            h1.classList.toggle('dark-h1-color');
        });

        // Toggle paragraph color
        pElements.forEach(function(p) {
            p.classList.toggle('dark-p-color');
        });

        // Toggle video overlay background
        if (videoOverlay) {
            videoOverlay.classList.toggle('dark-overlay-background');
        }

        // Toggle softer background
        softerElements.forEach(function(softer) {
            softer.classList.toggle('dark-softer-background');
        });
    });
});



</script>


 

</body>

</html>