<!DOCTYPE html>
<html lang="en">
<head>
        <title>TinycCV | Create a lovely resume in a snap, it's fast and friendly!</title>

    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="../static/img/ico.png">

    <meta name="description" itemprop="description" content="Whip up a charming, compact resume in just a few seconds - it's super quick and easy!">
    <meta name="keywords" content="cv, resume, work, experience, portfolio, connect, job, hiring">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@angelcreative">
    <meta name="twitter:creator" content="@angelcreative">
    <meta name="twitter:title" content="TinyCV - The Smallest CV You'll Ever Need">
    <meta name="twitter:description" content="Whip up a charming, compact resume in just a few seconds - it's super quick and easy!.">
    <meta name="twitter:image" content="https://www.tinycv.onrender.com/static/img/promo.png">
    <meta property="og:url" content="https://www.tinycv.onrender.com/">
    <meta property="og:type" content="website">
    <meta property="og:description" content="Whip up a charming, compact resume in just a few seconds - it's super quick and easy!">
    <meta property="og:image" content="https://www.tinycv.onrender.com/static/img/promo.png">
    <meta property="og:image:alt" content="Whip up a charming, compact resume in just a few seconds - it's super quick and easy!">
    <meta property="og:locale" content="en_IE">
    <meta property="og:title" content="TinycCV | The Smallest CV You'll Ever Need">
    <meta property="og:site_name" content="tinycv">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <link rel="canonical" href="https://www.tinycv.onrender.com">
    <meta name="robots" content="index,follow">
    <meta name="googlebot" content="index,follow">
    <!-- Your head content here (e.g., title, meta, CSS links) -->
<link rel="stylesheet" type="text/css" href="../static/styles.css">
</head>
<body>
    <div class="headerApp">
    <h1 class="header">TinyCV<br><span>Create a lovely resume in a snap, it's fast and friendly!</span></h1>
   
        <div class="headerArrow"></div>
</div>
  
   <article class="renderCV">
    <section class="renderCVLeft">
    
  

    <form id="uploadForm" enctype="multipart/form-data">
    <input type="file" name="file" id="file" style="visibility: hidden; height:1px;">
  <div id="uploadButton" class="upload-btn">Upload your resume <span class="arrowUp">↑</span></div>
        <p id="fileLoadedMessage" style="display:none;"></p>

    <button type="submit">Make my TinyCV! ✨ </button>
        <p class="motto">Whip up a charming, compact resume in just a few seconds - it's super quick and easy!</p> 
</form>
    

        
        
    </section>
   
    <section class="renderCVright">
        <p class="warntime
    ">Quick for short resumes, a bit more time for the longer ones - we adapt to your CV's length!</p>
      <div id="summaryCard" style="display:none;">
        
       
</div>
<button id="copyButton" style="display:none;">Copy Summary</button>
<button id="clearSummaryButton" style="display:none;">Clear summary <img class="clearIcon" src="../static/img/broom.svg"></button>

<img id="loader" src="../static/img/loader.svg" style="display: none;" alt="Loading..."/>



    </section>
 </article> 
    
    <p class="credits"> By <a href="https://x.com/angelcreative">@angelcreative</a>
    </p>
    


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $('#uploadForm').submit(function(e) {
            e.preventDefault();
            var formData = new FormData(this);

            // Show the loader and file loaded message
            $('#loader').show();
            $('#fileLoadedMessage').text($('#file')[0].files[0].name + ' loaded').show();

            $.ajax({
                url: '/upload',
                type: 'POST',
                data: formData,
                contentType: false,
                processData: false,
                success: function(response) {
                    // Hide the loader
                    $('#loader').hide();

                    // Insert the HTML summary into the 'summaryCard' div
                    $('#summaryCard').html(response.html_summary);
                    $('#summaryCard').show();

                    // Show the copy and clear summary buttons
                    $('#copyButton').show();
                    $('#clearSummaryButton').show(); // Show the clear summary button
                },
                error: function() {
                    // Hide the loader in case of error
                    $('#loader').hide();
                    alert('Error processing file.');
                }
            });
        });

        // Custom upload button functionality
        $('#uploadButton').click(function() {
            $('#file').click();
        });

        $('#file').change(function() {
            if(this.files && this.files.length > 0) {
                $('#fileLoadedMessage').text(this.files[0].name + ' loaded').show();
            }
        });

        // Copy button functionality
        $('#copyButton').click(function() {
            var textToCopy = $('#summaryCard').text();
            var tempElement = $("<textarea>");
            $("body").append(tempElement);
            tempElement.val(textToCopy).select();
            document.execCommand("copy");
            tempElement.remove();
            alert('Summary copied to clipboard!');
        });

        // Clear summary button functionality
        // Clear summary button functionality
        $('#clearSummaryButton').click(function() {
            $('#summaryCard').empty().hide(); // Clear and hide the summary
            $('#copyButton').hide(); // Hide the copy summary button
            $(this).hide(); // Hide the clear summary button
        });
    });
</script>



</body>
</html>
